---
layout: default
---
<head>
  <!-- style sheet of Vssue -->
  <link rel="stylesheet" href="https://unpkg.com/vssue/dist/vssue.min.css">
</head>

<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
<div class="container">
  <div class="columns">
    <div class="column three-fourths">
      <div class="collection-title">
        <h1 class="collection-header">{{ page.title }}</h1>
        <div class="collection-info">
          {% if page.date %}
          <span class="meta-info">
            <span class="octicon octicon-calendar"></span> {{ page.date | date: "%Y/%m/%d" }}
          </span>
          {% endif %}
          {% for cat in page.categories %}
          <span class="meta-info">
            <span class="octicon octicon-file-directory"></span>
            <a href="{{ site.url }}/categories/#{{ cat }}" title="{{ cat }}">{{ cat }}</a>
          </span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<!-- / .banner -->
<section class="container content">
<div class="columns">
  <div class="column three-fourths" >
    <article class="article-content markdown-body">
    {{ content }}
    </article>
    <div class="share">
      {% include sns-share.html %}
    </div>
    <div class="comment">
      {% include comments.html %}
    </div>
  </div>
  <div class="column one-fourth">
    {% include sidebar-search.html %}
    {% include sidebar-qrcode.html %}
    {% include sidebar-post-nav.html %}
  </div>
</div>

 
<div id="vssue"></div>

  <!-- Introduce Vue first -->

  <!-- vue runtime build (runtime only)  -->
 <script src="https://unpkg.com/vue/dist/vue.min.js"></script>

  <script src="https://unpkg.com/vssue/dist/vssue.gitee.min.js"></script>

   <script>
    new Vue({
      el: '#vssue',

      data: {
        title: 'Vssue Dev',

        options: {
          owner: 'glm233',
          repo: 'iscas-glm.github.io',
          clientId: 'a3f7bd4083117582477490286adedc95032ced9e1daf0d7cb90fe5d3d4985e85',
          clientSecret: 'fb5423a3a0d4b32c587fafcd7f27c80b8f484cf37942f95a30d8159220ffc3a5', // only required for some of the platforms
        },
      },

      template: `<vssue :title="title" :options="options"></vssue>`,
    })
  </script>

</section>
<!-- /section.content -->
